// Define variables for your color scheme

// For example:
$abc-yellow: #fadf0e;
$abc-red: #ff2840;
$abc-blue: #36e5ec;
$abc-grey: #dcdcdc;
$abc-banner: #e02238;
//red for buttons/fastest,
//yellow for super-saver,
//blue for recommended,

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
