// Define variables for your color scheme

// For example:
$yellow: #fadf0e;
$red: #ff2840;
$blue: #36e5ec;
$grey: #dcdcdc;

//red for buttons/fastest,
//yellow for super-saver,
//blue for recommended,
