.my-trips-container {
  padding: 0px 0px 80px 0px;
}

.my-trips-container h5 {
  margin-top: 25px;
  font-family: $body-font;
}

.trip-item {
  width: 100%;
  border: 3px solid black;
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  display: flex;
  text-align: start;
  justify-content: space-between;
  align-items: center;
  margin: 7px 0px;
  z-index: 1;
}

.trip-item h6 {
  margin: 0px;
}

.trip-countdown {
  text-align: end;
}
