.flex-items {
  display: flex;
}

// .abc-form-input {
//   box-sizing: border-box;
//   border-radius: 10px;
//   box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
//   padding: 10px;
// }
// .flex-item {
// }

input[type=text] {
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  padding: 10px;
  text-align: center;
}

input[type=datetime-local] {
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  padding: 10px;
}
