.landing-img {
  height: 400px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.abc-map {
  width: 100%;
  height: 200px;
}

.flex-items {
  display: flex;
}

input[type=text] {
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  padding: 10px;
  text-align: center;
}

input[type=datetime-local] {
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  padding: 10px;
}
