.login-page {
  background-color: $abc-yellow;
  height: 915px;
}

.login-image {
  width: auto;
  height: 360px;
  background-image: url('ABCheap.jpg');
  background-size: cover;
  background-position: center;
  z-index: 10;
}

.login-btn {
  width: 100%;
}
