.login-page {
  background-color: $abc-yellow;
  height: 530px;
}

.signup-page {
  background-color: $abc-yellow;
  height: 750px;
}

.edit-page {
  background-color: $abc-yellow;
  height: 920px;
}

.login-image {
  width: 100%;
  height: 235px;
  // background-image: url('ABCheap.jpg');
  // background-size: cover;
  // background-position: center;
  object-fit: cover;
  z-index: 10;
}

.login-btn {
  width: 100%;
}
