.overall-container {
  border-top: 3px solid black;

}

.travel-container {
  margin-bottom: 80px;
  font-family: $body-font;
  padding: 0px;
  flex-grow: 1;
  margin-top: -16px;
  z-index: 2;
}

a.mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib-button, .mapboxgl-ctrl-attrib.mapboxgl-compact {
  width: 0px;
  height: 0px;
  background-color: transparent;
}

.a-to-b-info {
  margin-top: -20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 14px 5px;
  background-color: #F4F4F4;
  border: 3px solid black;
  position: relative;
}

.a-to-b-info h4 {
  font-size: 20px;
  font-weight: 400;
  width: 140px;
  text-align: center;
  margin: 0px;
  color: rgb(52, 52, 52);
}

.a-to-b-info i {
  width: auto;
  margin: 0px 10px;
  font-size: 20px;
}

.travel-options {
  color: #343434;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  padding-left: 25px;
  padding-right: 25px;
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

.cheapest, .fastest {
  padding-bottom: 70px;
  margin-bottom: -70px;
}

.recommended {
  padding-bottom: 20px;
}

.options-card-container {
  margin-top: 15px;
}

.options-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.option-headers {
  margin-bottom: 0px;
  color: #F4F4F4;
  width: 175px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px -3px 8px 0px rgba(0, 0, 0, 0.15);
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  margin-bottom: -3.5px;

}

.button-container {
  display: flex;
  justify-content: space-around;
}

.button-container input {
  // font-size: 16px;
  // color: #fff;
  background-color: white;
  border: 1px solid black;
  color: black;
  // padding: 0.5em 1.2em;
  // border: none;
  // align-items: center;
  // margin: 15px 0px;
  // box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
}

#fastest-header {
  background-color: $abc-red;
  position: relative;
  border-radius: 15px 15px 0px 0px;
  padding: 5px 0px;
}

#fastest-header h5 {
  text-align: center;
  color: rgba($color: #000, $alpha: 1.0);
}

#fastest-header button {
  position: absolute;
  right: 10px;
  top: 5px;
}

#cheapest-header {
  background-color: #FADF0F;
  position: relative;
  border-radius: 15px 15px 0px 0px;
  padding: 5px 0px;
}

#cheapest-header h5 {
  text-align: center;
  color: rgba($color: #000, $alpha: 1.0);
}

#cheapest-header button {
  position: absolute;
  right: 10px;
  top: 5px;
}

#recommended-header {
  background-color: #35E5EC;
  position: relative;
  border-radius: 15px 15px 0px 0px;
  padding: 5px 0px;
}

#recommended-header h5 {
  text-align: center;
  color: rgba($color: #000, $alpha: 1.0);
}

#recommended-header button {
  position: absolute;
  right: 10px;
  top: 5px;
}

.option-headers h6 {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  color: rgba($color: #000, $alpha: 1.0);
}

.travel-timings {
  padding: 10px 5px;
  font-size: 18px;
  text-align: end;
  margin: 0px 10px;
}

.travel-info {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 0px 10px;
  font-weight: 700;
}

.travel-info i {
  font-size: 30px;
}

.travel-info p {
  width: 100px;
  text-align: end;
}

#travel-info-cost {
  text-align: start;
}

.travel-options h6 {
  margin: 0px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.modal-content {
  border-radius: 15px;
}

.modal-header {
  border-radius: 15px 15px 0px 0px;
  border-bottom: 3px solid black;
  // display: block;
}

.modal-title {
  font-size: 30px;
  font-weight: 600;
  color: rgba($color: #000, $alpha: 1.0);
}

.modal-footer {
  background-color: black;
  color: #F4F4F4;
  justify-content: center;
  border-radius:  0px 0px 15px 15px;
}

.travel-cost {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.modal-travel-timings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow-down {
  text-align: center;
  font-size: 35px;
  margin: 15px 0px;
}


.journey-leg {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.travel-mode {
  text-align: center;
  font-size: 25px;
  margin: 15px 0px  ;
}

.origin-destination {
  font-size: 15px;
}

.modal-travel-info {
  text-align: end;
  font-size: 20px;
}

.modal-footer input {
  width: 200px;
  color:#F4F4F4;
  font-size: 20px;
  font-weight: 700;
  background-color: #000000;
  border-color: #000000;
}
