<div class="container text-center">
<br>
  <h1>THIS IS YOUR CONFIRMATION PAGE</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto corrupti temporibus non laboriosam repellendus, nam omnis ipsam fugit delectus assumenda corporis soluta impedit reprehenderit consectetur beatae qui consequatur ratione officia.</p>
</div>
