<div class="abc-banner">
  <h2>Account</h2>
</div>

<div class="container p-5">
  <h1>Hello <%= current_user.first_name %></h1>
  <hr>
  <div class="message">
    <div id="usermessage">
      <h3>Messages</h3>
      <span id="messageicon"><i class="fas fa-envelope" aria-hidden="true">&nbsp;</i>Your Messages</span>
    </div>
  </div>
  <hr>
  <div class="journeys">
    <div id="userdetails">
      <h3>Account Overview</h3>
        <span id="usericon"><i class="fas fa-user" aria-hidden="true"></i>&nbsp;<%= link_to "Personal Details", edit_user_registration_path, class: "text-dark" %><br>
        <span id="securityicon"><i class="fas fa-lock" aria-hidden="true"></i>&nbsp;<%= link_to "Longin & Security", edit_user_registration_path, class: "text-dark" %>
    </div>
    <hr>
    <div id="userpreferences">
      <h3>Bookings Preferences</h3>
        <i class="fas fa-money-bill-wave"></i>&nbsp;Payments Methods<br>
        <div class=></div>
          <label class="switch" style="margin-left:14em;">
            <p><i class="fas fa-bell"></i>&nbsp;Push Notifications</p>
            <input id="profile-toggle" checked type="checkbox">
            <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn abc-btn w-100" %>
  </div>
</div>
