<div class="user">
   <h1><%= @user.email %></h1>
</div>
<div class="journeys">
  <h2> Favorites Journeys </h2>
  <h2> Recent Journeys </h2>
  <h2> upcoming Journeys </h2>
</div>
<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn abc-btn" %>
