<div class="abc-banner">
   <div style="display: flex; justify-content: center;">
    <h2 class="first_letter">A</h2><h1 class = "other-letters">ccount <%= current_user.first_name %></h1>
  </div>
</div>

<div class="container p-5">
  <div class="journeys">
    <u>Payment Methods ></u>
    <h3>Account Preferences</h3>
    <%= link_to "Edit your account >", edit_user_registration_path, class: "text-dark" %>
  </div>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn abc-btn w-100" %>
</div>
