<div class="abc-footer text-center pt-5">
  <div class="icons-nav">
    <ul class="icons d-flex flex-row">
      <li>
        <%= link_to root_path, :class => 'searchicon' do %>
        <span id="searchicon"><i class="fas fa-3x fa-search-location" aria-hidden="true"></i>
        <% end %>
      </li>
      <li id="ticketicon"><i class="fas fa-3x fa-ticket-alt" aria-hidden="true"></i></li>
      <li id="usericon"><i class="fas fa-3x fa-user" aria-hidden="true"></i></li>
    </ul>
   </div>
</div>
