<div class="abc-footer text-center d-flex flex-row justify-content-center pt-5">
  <div class="icons-nav">
    <ul class="icons">
      <li id="searchicon"><i class="fa fa-lg fa-search" aria-hidden="true"></i></li>
      <li id="ticketicon"><i class="fa fa-lg fa-ticket" aria-hidden="true"></i></li>
      <li id="usericon"><i class="fa fa-lg fa-user" aria-hidden="true"></i></li>
    </ul>
   </div>
</div>
