
<div class="container p-5 text-center landing-page">
<<<<<<< HEAD
  <%= image_tag 'ABCheap no background', class: 'abc-img landing-item' %>
  <h2 class="landing-item" style= "font-size: 25px;">Making afordable travel easy</h2>
=======
  <%= image_tag 'ABCheap-no-background.png', class: 'abc-img landing-item' %>
  <h1 class="landing-item">Making afordable travel easy!</h1>
>>>>>>> c50ad0580d270a632cd33225852b4f872c00eff5
  <br>
  <br>
  <%= link_to "Let's Go!", new_parameter_path, class: "abc-btn landing-item" %>
</div>
