
<div class="container p-5 text-center landing-page">
  <%= image_tag 'ABCheap-no-background.png', class: 'abc-img landing-item' %>
  <h1 class="landing-item">Making afordable travel easy!</h1>
  <br>
  <br>
  <%= link_to "Let's Go!", new_parameter_path, class: "abc-btn landing-item" %>
</div>
