<body>
  <div class = "container">
    <div class = "map">
    </div>
    <div class = "search_box">
      <div class="origin-destination">
      <span style="padding: 20px">origin</span><span style="padding: 20px">|</span><span style="padding: 20px">destination</span>
      </div>
      <div class = "preferred">
        <span >Preferred date and time of departure:</span>
        <div class="content">
          <div class="inner-content">:</div>
          <div class="inner-content">//</div>
        </div>
      </div>
      <div class="flexibility">
      Earliest Departure | latest arrival
      </div>
      <div class="car">
        <div>Do you have access to a car?</div>
        <div><div>
      </div>
      <button class="submit">Take me there!</button>
      <div class="recent journeys">
      Recent Journeys
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</body>
