.abc-btn {
  border: 0.1rem solid;
  border-radius: 0.1rem;
  font-weight: 700;
  padding: 0.625em 2em;
  transition: color 125ms, background-color 125ms, border-color 125ms;
  &:hover {
    color: ;
    background-color: ;
    border-color: ;
  }
}
