.abc-banner {
  background-color: $abc-banner;
  height: 90px;
  opacity: 0.9;
  padding: 35px;
  color: rgba($color: #000, $alpha: 1.0);
  text-align: center;
}

.abc-banner h2 {
  justify-content: center;
}
