.abc-banner {
  background-color: rgb(254, 41, 63);
  height: 70px;
  // opacity: 0.9;
  padding: 25px;
  color: rgba($color: #000, $alpha: 1.0);
  text-align: center;
  border-bottom: 3px solid black;
}

.abc-banner h2 {
  justify-content: center;
}
